@using eCommerce.ViewModels.System.Users
@model LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
}

<section class="login_box_area c-section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login2.jpg" alt="">
                    <div class="hover">
                        <h4>Bạn chưa có tài khoản?</h4>
                        <a class="primary-btn" asp-controller="Register" asp-action="Index">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner c-pt-50">
                    <h2>ĐĂNG NHẬP</h2>
                    <form class="row login_form" asp-controller="User" asp-action="Login" method="post">
                        <div class="col-md-12 form-group c-pb-20">
                            <input asp-for="UserName" type="text" class="form-control" placeholder="Tài khoản">
                        </div>

                        <div class="col-md-12 form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div class="col-md-12 form-group c-pt-50">
                            <button type="submit" class="primary-btn">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>