
@{
    ViewData["Title"] = "Đăng ký";
}

<section class="login_box_area c-section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login2.jpg" alt="">
                    <div class="hover">
                        <h4>Bạn chưa đã có tài khoản?</h4>
                        <a class="primary-btn" asp-controller="Login" asp-action="Index">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner c-pt-50">
                    <h2>ĐĂNG KÝ</h2>
                    <form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12 form-group c-pb-20">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Email">
                        </div>
                        <div class="col-md-12 form-group c-pb-20">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Mật khẩu">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="col-md-12 form-group c-pt-50">
                            <button type="submit" value="submit" class="primary-btn">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>