@model eCommerce.ViewModels.System.Users.UserDeleteRequest

@{
    ViewData["Title"] = "Xóa nhân viên";
}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Cập nhật thông tin</h1>
        </div>
        <div class="row justify-content-center">
            <div class="card shadow mb-4 col-lg-8">
                <div class="card-body">
                    <p>Bạn chắc chắc muốn xóa tài khoản này?</p>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input asp-for="Id" type="hidden" />
                        <div class="row justify-content-between">
                            <a asp-action="Employee" asp-controller="User" class="btn btn-info small">Về danh sách</a>
                            <button type="submit" class="btn btn-info">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
