@using eCommerce.ViewModels.System.Users
@model LoginRequest
@{
    ViewData["Title"] = "Đăng nhập";
}

<section class="login_box_area c-section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card shadow mb-4 col-lg-6">
                <div class="card-body">
                    <h2 class="row justify-content-center c-pt-50">ĐĂNG NHẬP</h2>
                    <div asp-validation-summary="All" class="text-danger c-pt-20"></div>
                    <form asp-action="Index" asp-controller="Login" method="post">
                        <div class="row c-pt-20">
                            <div class="form-group col-lg-12">
                                <label asp-for="UserName" class="control-label">Tên người dùng</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Password" class="control-label">Mật khẩu</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row justify-content-center c-pt-50">
                            <button type="submit" class="btn btn-warning">Đăng nhập</button>
                        </div>
                        <div class="row justify-content-center c-pt-20">
                            <a asp-action="Index" asp-controller="Register">Bạn chưa có tài khoản?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>