@model eCommerce.ViewModels.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Tạo mới";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-2 text-gray-800">Tạo mới sản phẩm</h1>
    </div>
    <div class="row justify-content-center">
        <div class="card shadow mb-4 col-lg-8">
            <div class="card-body">
                <form asp-action="Create" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label asp-for="OriginalPrice" class="control-label">Giá nhập</label>
                            <input asp-for="OriginalPrice" class="form-control" />
                            <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label asp-for="Price" class="control-label">Giá bán</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label asp-for="Stock" class="control-label">Số lượng nhập</label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-9">
                            <label asp-for="Description" class="control-label">Thông tin sản phẩm</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label asp-for="ThumbnailImage" class="control-label">Hình Thumbnail</label>
                            <input type="file" asp-for="ThumbnailImage" class="form-control" />
                            <span asp-validation-for="ThumbnailImage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row justify-content-between">
                        <a asp-action="Product" asp-controller="Product" class="btn btn-info small">Về danh sách</a>
                        <button type="submit" class="btn btn-info">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
